html,
body {
	height: 100%;
	background-color: #121213;
	color: whitesmoke;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-image: url('/background.png');
	background-position: center;
	background-repeat: repeat;
	background-size: cover;
}
